@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Loader File  */
.loader-glow {
  color: #ffffff;
  font-weight: 300;
  text-shadow: 0 0 10px rgba(30, 64, 175, 0.8), 0 0 20px rgba(30, 64, 175, 0.6),
    0 0 40px rgba(30, 64, 175, 0.4);

  animation: glow-pulse 2s ease-in-out infinite;
}

@keyframes glow-pulse {
  0%,
  100% {
    text-shadow: 0 0 10px rgba(30, 64, 175, 0.8),
      0 0 20px rgba(30, 64, 175, 0.6), 0 0 40px rgba(30, 64, 175, 0.4);
  }
  50% {
    text-shadow: 0 0 20px rgba(30, 64, 175, 1), 0 0 40px rgba(30, 64, 175, 0.8),
      0 0 60px rgba(30, 64, 175, 0.6);
  }
}

/* Terminal File  */
.cmd::before {
  content: attr(data-cmd);
  position: relative;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  animation: inputs 8s steps(22) infinite;
}
.cmd::after {
  content: "";
  position: relative;
  display: block;
  height: 100%;
  border-right: 0.15em solid #e34ba9;
  animation: cursor 0.5s step-end infinite alternate, blinking 0.5s infinite;
}
@keyframes blinking {
  20%,
  80% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
}
@keyframes cursor {
  50% {
    border-right-color: transparent;
  }
}
@keyframes inputs {
  0%,
  100% {
    width: 0;
  }
  10%,
  90% {
    width: 58px;
  }
  30%,
  70% {
    width: 215px;
    max-width: max-content;
  }
}

/* Desktop Icon  */
.pixelated {
  image-rendering: pixelated;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.animate-flicker {
  animation: flicker 0.25s steps(2, end) 2; /* short old-school flicker */
}
